<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>



 <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
 <%= link_to "ログイン", new_user_session_path %>


 <%= image_tag(@user.image)  if @user %>
