.insta-title-img {
  height: auto;
  width: 100%;
  max-width: 250px;
  margin-bottom: 5%;
}

.form-box {
  background-color: white;
  margin: 0 auto;
  padding: 5%;
  width: 100%;
  max-width: 500px;
}

.form-box input[type="file"] {
  margin: 0 auto;
}

.form-box input[type="text"] {
  width: 100%;
}

.devise-alert {
  margin: 0 auto;
  margin-bottom: 1%;
  text-align: center;
  width: 80%;
}

#error_explanation h2 {
  color: tomato;
}





.post-profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-wrap {
  margin: 40px 0px;
}

.no-text-decoration:hover {
  text-decoration: none;
}

.black-color {
  color: #262626;
}

.parts {
  margin: 12px 0;
}

.love {
  background-image: image-url("parts5");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px !important;
}

.comment {
  margin-left: 8px;
  background-image: image-url("parts6");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 40px !important;
}

.post-time {
  margin:0;
  color:#999;
  font-size:10px;
}

.post-sub-text {
  text-decoration: none;
  color: #262626;
}
