.round-img{
  border-radius:50%;
  width: 160px;
  height: 160px;
}

#profile-img-box {
  width:200px;
  height:200px;
  float:left;
  padding:2% 0 0 5%;
}

#profile-txt-box {
  width:400px;
  height:100px;
  float:left;
  padding:2% 0 0 10%;
  word-wrap: break-word;
}

#profile-btn-box {
  width:400px;
  height:100px;
  float:left;
  padding:5% 0 0 10%;
}
