<%= link_to image_tag("https://fontmeme.com/permalink/190421/6d63b1b1eeebbfd2011a7024a34c39e2.png", class: "insta-header-img nav-link active"), root_path %>

<ul class="nav" style="float: right; margin-top:15px;">
  <li class="nav-item">
    <%= link_to "", user_path(current_user), class: "nav-link mypage-icon" %>
  </li>


  <li class="nav-item">
    <%= link_to "", destroy_user_session_path,data: {confirm: "ログアウトしますか？"}, method: :delete, class: "nav-link logout-img" %>
  </li>
</ul>
